@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
    rounded-3xl hover:rounded-2xl transition-all duration-100 ease-linear hover:cursor-pointer;
  }

  .sidebar-icon img {
    @apply rounded-3xl hover:rounded-2xl transition-all duration-100 ease-linear
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900
    text-xs font-bold transition-all duration-200 scale-0 origin-left;
  }
}


:root { 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --page-max-width: 1260px;
  --page-gutter: 1.5rem;
  --md-page-gutter: 2.5rem;
  --section-spacing: 3.5rem;
  --md-section-spacing: 5rem;
  --lg-section-spacing: 7.5rem;

  --rang-not-so-black: #23272a;
  --rang-primary-hero: #404eed;
  --rang-text-link: #00b0f4;
  --rang-off-white: #f6f6f6;
  --rang-brand: #5865f2;
  --rang-primary-dark: #36393f;

  --text-gray: #b9bbbe;
}

@font-face {
  font-family: 'gg sans';
  src: url('./assets/fonts/ggsansNormal.ttf') format('truetype');
  font-weight: 400;  
  font-style: normal;
}
@font-face {
  font-family: 'gg sans';
  src: url('./assets/fonts/ggsansMedium.ttf') format('truetype');
  font-weight: 500;  
  font-style: normal;
}
@font-face {
  font-family: 'gg sans';
  src: url('./assets/fonts/ggsansSemibold.ttf') format('truetype');
  font-weight: 600;  
  font-style: normal;
}
@font-face {
  font-family: 'gg sans';
  src: url('./assets/fonts/ggsansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'gg sans';
  src: url('./assets/fonts/ggsansExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Ginto Nord';
  src: local('Ginto Nord'), url(./assets/fonts/GintoNord.woff2);
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'gg sans';
  font-weight: normal;
  line-height: 1.15;
}

/*------------ Fonts ------------*/

.ff-ginto {
  font-family: 'Ginto Nord';
}

.fs-hero-heading-on-sm-device {
  font-size:clamp(24px,5vw,44px);
}

.fs-hero-subtitle-on-sm-device {
  font-size:clamp(16px,2vw,20px);
}

.fs-body-heading {
  font-size:clamp(20px,4vw,40px);
}


/*------------ Other ------------*/

.fade-up-mobile-menu {
  background: linear-gradient(hsla(0,0%,100%,0),#fff 25%);
}

.chota {
  display: none;
}
.bada {
  display: block;
}
@media screen and (max-width: 410px) {
  .chota {
    display: block;
  }
  .bada {
    display: none;
  }
}

.force-visiblity {
  visibility: visible!important;
}

/*------------ Login Page ------------*/

.form-container {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.qr-code-login{
  display: none;
}
@media screen and (max-width: 485px) {
  .form-container{
    font-size: 14px;
    padding: 20px 16px;
  }
  .discord-logo {
    display: block;
  }
  .other-button {
    order: 1;
    grid-column: span 3;
  }
  .google-button {
    order: 2;
    grid-column: span 3;
  }
}
@media screen and (min-width: 485px) {
  .form-container{
    width: 480px;
    height: unset;
    border-radius: 5px;
  }
}
@media screen and (min-width: 830px) {
  .form-container{
    width: 784px;
    height: unset;
    border-radius: 5px;
  }
  .qr-code-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


/*------------ Register Page ------------*/

.register-form-container {
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 20px 16px;
}
@media screen and (min-width: 490px) {
  .register-form-container {
    width: 480px;
    height: fit-content;
    border-radius: 5px;
    padding: 32px;
  }
}